<div class="banner">
  <script>
    var start = new Date("Fri Oct 30 2015 16:30:00 GMT-0700 (PDT)").getTime(),
        now = new Date().getTime(),
        daysEllapsed = (now - start) / (1000 * 60 * 60 * 24),
        daysRemaining = 30 - Math.floor(daysEllapsed);
  </script>
  <span class="banner-for-mobile">
    <script>document.write(daysRemaining)</script>
    days left to signup for <a href="https://myou.pub/">myou.pub</a>
  </span>
  <span class="banner-for-desktop">
    <span class="webaddr">myou.pub &mdash;
      microblogging without ads or abuse</span>
    <br>
    <script>document.write(daysRemaining)</script>
    days left to join our
    <a href="https://myou.pub/b/launch-better-social-media/">new
      users drive</a>.<br>
    <i><b><a href="https://myou.pub/">sign up now</a></b>
      and let people know</i>

    <a class="icon-twitter"
        href="https://twitter.com/intent/tweet?text=Let's%20meet%20up%20on%20myou.pub%20(https://myou.pub/b/the-story-so-far/)"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
        >
      <span class="hidden">Twitter</span>
    </a>
    <a class="icon-facebook"
        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmyou.pub%2F"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"
        >
      <span class="hidden">Facebook</span>
    </a>
    <a class="icon-google-plus"
        href="https://plus.google.com/share?url=https%3A%2F%2Fmyou.pub%2F"
        onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"
        >
      <span class="hidden">Google+</span>
    </a>
  </span>
</div>
